@model EMAProject.Models.Intervention

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

@if(TempData["Client"] != null)
{
    Client currClient = (Client)TempData["Client"];

}
<h4>Intervention</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PreInterventionScore" class="control-label"></label>
                <input asp-for="PreInterventionScore" class="form-control" />
                <span asp-validation-for="PreInterventionScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostInterventionScore" class="control-label"></label>
                <input asp-for="PostInterventionScore" class="form-control" />
                <span asp-validation-for="PostInterventionScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Antecedence" class="control-label"></label>
                <input asp-for="Antecedence" class="form-control" />
                <span asp-validation-for="Antecedence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Behaviours" class="control-label"></label>
                <input asp-for="Behaviours" class="form-control" />
                <span asp-validation-for="Behaviours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Consequence" class="control-label"></label>
                <input asp-for="Consequence" class="form-control" />
                <span asp-validation-for="Consequence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Treatment" class="control-label"></label>
                <input asp-for="Treatment" class="form-control" />
                <span asp-validation-for="Treatment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
